.header-nav {
  max-width: 100%;
  background-color: bisque;
  border-bottom: thin solid rgb(77, 43, 43);
}

nav {
  box-sizing: border-box;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  padding: 20px;
  justify-content: space-between;

}

h1 {
  color: rgb(77, 43, 43);
  font-weight: 700;
  font-size: 2.4em;
  margin: 0;
}

h5 {
  color: rgb(77, 43, 43);
  font-size: 1.2em;
  font-weight: 400;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  text-align: center;
}

.logo-image {
  img {
    height: 4.5em;
  }

  margin-right: 1em;
}

.left-nav,
.right-nav {
  align-self: center;
  width: 30%;
}

.right-nav {
  ul {
    justify-content: flex-end;
  }
}

ul {

  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin: 0 15px;
}

a {
  color: rgb(77, 43, 43);
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.active {
  font-weight: 700;
  text-decoration: underline;
}

.logout {
  position: absolute;
  font-weight: 700;
  right: 5%;
  bottom: 42.5%;
}

@media screen and (max-width: 612px) {
  nav {
    padding: 30px;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    color: rgb(77, 43, 43);
    font-weight: 700;
    font-size: 2.5em;
    margin-top: 10px;
  }

  h5 {
    color: rgb(77, 43, 43);
    font-size: 1.1em;
    font-weight: 400;
    margin: 20px;
  }

  .logo {
    align-items: flex-start;
    margin: 0;

  }

  .logo-text {
    text-align: center;
  }

  .logo-image {
    img {
      height: 7em;
      position: absolute;
      left: 15px;
      right: 80%;
      margin-right: 10px;
    }
  }

  .left-nav {
    width: 100%;

  }

  .right-nav {
    padding-left: 24px;
    align-self: center;
    width: 100%;

    ul {
      justify-content: center;
    }
  }


  ul {
    justify-content: space-between;
  }

  li {
    margin: 0 10px;
  }

  a {
    color: rgb(77, 43, 43);
    font-weight: 400;
  }

  .logout {
    right: 40%;
    left: 40%;
    bottom: 15px;
  }
}